--
-- PostgreSQL database dump
--

\restrict 12rAd3vV7Z2YR9XG2LtIdbPbRCsUxUS33hJv5VoR7yAhmFQHblnKoczIgNJtVEI

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: mamode
--

CREATE TYPE public.user_role AS ENUM (
    'ADMIN',
    'STUDENT'
);


ALTER TYPE public.user_role OWNER TO mamode;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: choix; Type: TABLE; Schema: public; Owner: mamode
--

CREATE TABLE public.choix (
    id integer NOT NULL,
    question_id integer NOT NULL,
    texte text NOT NULL,
    est_correcte boolean DEFAULT false
);


ALTER TABLE public.choix OWNER TO mamode;

--
-- Name: choix_id_seq; Type: SEQUENCE; Schema: public; Owner: mamode
--

CREATE SEQUENCE public.choix_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.choix_id_seq OWNER TO mamode;

--
-- Name: choix_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mamode
--

ALTER SEQUENCE public.choix_id_seq OWNED BY public.choix.id;


--
-- Name: cours; Type: TABLE; Schema: public; Owner: mamode
--

CREATE TABLE public.cours (
    id integer NOT NULL,
    nom character varying(100) NOT NULL,
    description text,
    created_by integer NOT NULL
);


ALTER TABLE public.cours OWNER TO mamode;

--
-- Name: cours_id_seq; Type: SEQUENCE; Schema: public; Owner: mamode
--

CREATE SEQUENCE public.cours_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cours_id_seq OWNER TO mamode;

--
-- Name: cours_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mamode
--

ALTER SEQUENCE public.cours_id_seq OWNED BY public.cours.id;


--
-- Name: examens; Type: TABLE; Schema: public; Owner: mamode
--

CREATE TABLE public.examens (
    id integer NOT NULL,
    matiere_id integer NOT NULL,
    titre character varying(150) NOT NULL,
    date_creation timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_debut timestamp without time zone NOT NULL,
    date_fin timestamp without time zone NOT NULL,
    created_by integer NOT NULL,
    groupe_id integer
);


ALTER TABLE public.examens OWNER TO mamode;

--
-- Name: examens_id_seq; Type: SEQUENCE; Schema: public; Owner: mamode
--

CREATE SEQUENCE public.examens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.examens_id_seq OWNER TO mamode;

--
-- Name: examens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mamode
--

ALTER SEQUENCE public.examens_id_seq OWNED BY public.examens.id;


--
-- Name: groupes; Type: TABLE; Schema: public; Owner: mamode
--

CREATE TABLE public.groupes (
    id integer NOT NULL,
    nom character varying(100) NOT NULL
);


ALTER TABLE public.groupes OWNER TO mamode;

--
-- Name: groupes_id_seq; Type: SEQUENCE; Schema: public; Owner: mamode
--

CREATE SEQUENCE public.groupes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.groupes_id_seq OWNER TO mamode;

--
-- Name: groupes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mamode
--

ALTER SEQUENCE public.groupes_id_seq OWNED BY public.groupes.id;


--
-- Name: questions; Type: TABLE; Schema: public; Owner: mamode
--

CREATE TABLE public.questions (
    id integer NOT NULL,
    examen_id integer NOT NULL,
    texte text NOT NULL,
    type character varying(20) DEFAULT 'QCM'::character varying,
    points integer NOT NULL
);


ALTER TABLE public.questions OWNER TO mamode;

--
-- Name: questions_id_seq; Type: SEQUENCE; Schema: public; Owner: mamode
--

CREATE SEQUENCE public.questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.questions_id_seq OWNER TO mamode;

--
-- Name: questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mamode
--

ALTER SEQUENCE public.questions_id_seq OWNED BY public.questions.id;


--
-- Name: reponses_etudiant; Type: TABLE; Schema: public; Owner: mamode
--

CREATE TABLE public.reponses_etudiant (
    id integer NOT NULL,
    soumission_id integer NOT NULL,
    question_id integer NOT NULL,
    choix_id integer NOT NULL
);


ALTER TABLE public.reponses_etudiant OWNER TO mamode;

--
-- Name: reponses_etudiant_id_seq; Type: SEQUENCE; Schema: public; Owner: mamode
--

CREATE SEQUENCE public.reponses_etudiant_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reponses_etudiant_id_seq OWNER TO mamode;

--
-- Name: reponses_etudiant_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mamode
--

ALTER SEQUENCE public.reponses_etudiant_id_seq OWNED BY public.reponses_etudiant.id;


--
-- Name: soumissions; Type: TABLE; Schema: public; Owner: mamode
--

CREATE TABLE public.soumissions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    examen_id integer NOT NULL,
    date_soumission timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.soumissions OWNER TO mamode;

--
-- Name: soumissions_id_seq; Type: SEQUENCE; Schema: public; Owner: mamode
--

CREATE SEQUENCE public.soumissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.soumissions_id_seq OWNER TO mamode;

--
-- Name: soumissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mamode
--

ALTER SEQUENCE public.soumissions_id_seq OWNED BY public.soumissions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: mamode
--

CREATE TABLE public.users (
    id integer NOT NULL,
    nom character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash text NOT NULL,
    role public.user_role NOT NULL,
    groupe_id integer,
    debut_annee date,
    fin_annee date
);


ALTER TABLE public.users OWNER TO mamode;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: mamode
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO mamode;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mamode
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: choix id; Type: DEFAULT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.choix ALTER COLUMN id SET DEFAULT nextval('public.choix_id_seq'::regclass);


--
-- Name: cours id; Type: DEFAULT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.cours ALTER COLUMN id SET DEFAULT nextval('public.cours_id_seq'::regclass);


--
-- Name: examens id; Type: DEFAULT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.examens ALTER COLUMN id SET DEFAULT nextval('public.examens_id_seq'::regclass);


--
-- Name: groupes id; Type: DEFAULT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.groupes ALTER COLUMN id SET DEFAULT nextval('public.groupes_id_seq'::regclass);


--
-- Name: questions id; Type: DEFAULT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.questions ALTER COLUMN id SET DEFAULT nextval('public.questions_id_seq'::regclass);


--
-- Name: reponses_etudiant id; Type: DEFAULT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.reponses_etudiant ALTER COLUMN id SET DEFAULT nextval('public.reponses_etudiant_id_seq'::regclass);


--
-- Name: soumissions id; Type: DEFAULT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.soumissions ALTER COLUMN id SET DEFAULT nextval('public.soumissions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: choix choix_pkey; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.choix
    ADD CONSTRAINT choix_pkey PRIMARY KEY (id);


--
-- Name: cours cours_pkey; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.cours
    ADD CONSTRAINT cours_pkey PRIMARY KEY (id);


--
-- Name: examens examens_pkey; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.examens
    ADD CONSTRAINT examens_pkey PRIMARY KEY (id);


--
-- Name: groupes groupes_pkey; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.groupes
    ADD CONSTRAINT groupes_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: reponses_etudiant reponses_etudiant_pkey; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.reponses_etudiant
    ADD CONSTRAINT reponses_etudiant_pkey PRIMARY KEY (id);


--
-- Name: soumissions soumissions_pkey; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.soumissions
    ADD CONSTRAINT soumissions_pkey PRIMARY KEY (id);


--
-- Name: soumissions unique_attempt; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.soumissions
    ADD CONSTRAINT unique_attempt UNIQUE (user_id, examen_id);


--
-- Name: choix unique_correct_choice; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.choix
    ADD CONSTRAINT unique_correct_choice UNIQUE (question_id, est_correcte);


--
-- Name: choix uq_choice; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.choix
    ADD CONSTRAINT uq_choice UNIQUE (id, question_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: choix choix_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.choix
    ADD CONSTRAINT choix_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id);


--
-- Name: cours cours_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.cours
    ADD CONSTRAINT cours_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: examens examens_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.examens
    ADD CONSTRAINT examens_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: examens examens_groupe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.examens
    ADD CONSTRAINT examens_groupe_id_fkey FOREIGN KEY (groupe_id) REFERENCES public.groupes(id);


--
-- Name: examens examens_matiere_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.examens
    ADD CONSTRAINT examens_matiere_id_fkey FOREIGN KEY (matiere_id) REFERENCES public.cours(id);


--
-- Name: reponses_etudiant fk_choice_question; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.reponses_etudiant
    ADD CONSTRAINT fk_choice_question FOREIGN KEY (choix_id, question_id) REFERENCES public.choix(id, question_id);


--
-- Name: questions questions_examen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_examen_id_fkey FOREIGN KEY (examen_id) REFERENCES public.examens(id);


--
-- Name: reponses_etudiant reponses_etudiant_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.reponses_etudiant
    ADD CONSTRAINT reponses_etudiant_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id);


--
-- Name: reponses_etudiant reponses_etudiant_soumission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.reponses_etudiant
    ADD CONSTRAINT reponses_etudiant_soumission_id_fkey FOREIGN KEY (soumission_id) REFERENCES public.soumissions(id);


--
-- Name: soumissions soumissions_examen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.soumissions
    ADD CONSTRAINT soumissions_examen_id_fkey FOREIGN KEY (examen_id) REFERENCES public.examens(id);


--
-- Name: soumissions soumissions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mamode
--

ALTER TABLE ONLY public.soumissions
    ADD CONSTRAINT soumissions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 12rAd3vV7Z2YR9XG2LtIdbPbRCsUxUS33hJv5VoR7yAhmFQHblnKoczIgNJtVEI

