--
-- PostgreSQL database dump
--

\restrict XHUS0r9oUT6NT1oT8nk14YhH1LelTtaMrlNDeCEWMLT7jqyVKApusIY9RroKGP7

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: mamode
--

COPY public.users (id, nom, email, password_hash, role, groupe_id, debut_annee, fin_annee) FROM stdin;
\.


--
-- Data for Name: cours; Type: TABLE DATA; Schema: public; Owner: mamode
--

COPY public.cours (id, nom, description, created_by) FROM stdin;
\.


--
-- Data for Name: groupes; Type: TABLE DATA; Schema: public; Owner: mamode
--

COPY public.groupes (id, nom) FROM stdin;
\.


--
-- Data for Name: examens; Type: TABLE DATA; Schema: public; Owner: mamode
--

COPY public.examens (id, matiere_id, titre, date_creation, date_debut, date_fin, created_by, groupe_id) FROM stdin;
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: mamode
--

COPY public.questions (id, examen_id, texte, type, points) FROM stdin;
\.


--
-- Data for Name: choix; Type: TABLE DATA; Schema: public; Owner: mamode
--

COPY public.choix (id, question_id, texte, est_correcte) FROM stdin;
\.


--
-- Data for Name: soumissions; Type: TABLE DATA; Schema: public; Owner: mamode
--

COPY public.soumissions (id, user_id, examen_id, date_soumission) FROM stdin;
\.


--
-- Data for Name: reponses_etudiant; Type: TABLE DATA; Schema: public; Owner: mamode
--

COPY public.reponses_etudiant (id, soumission_id, question_id, choix_id) FROM stdin;
\.


--
-- Name: choix_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mamode
--

SELECT pg_catalog.setval('public.choix_id_seq', 1, false);


--
-- Name: cours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mamode
--

SELECT pg_catalog.setval('public.cours_id_seq', 1, false);


--
-- Name: examens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mamode
--

SELECT pg_catalog.setval('public.examens_id_seq', 1, false);


--
-- Name: groupes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mamode
--

SELECT pg_catalog.setval('public.groupes_id_seq', 1, false);


--
-- Name: questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mamode
--

SELECT pg_catalog.setval('public.questions_id_seq', 1, false);


--
-- Name: reponses_etudiant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mamode
--

SELECT pg_catalog.setval('public.reponses_etudiant_id_seq', 1, false);


--
-- Name: soumissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mamode
--

SELECT pg_catalog.setval('public.soumissions_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mamode
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict XHUS0r9oUT6NT1oT8nk14YhH1LelTtaMrlNDeCEWMLT7jqyVKApusIY9RroKGP7

